<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="0PyF4H34i++UQDf8OwR3lR0uPwxf4u7wrxNRakqQG2KmFzER7gdYaiVFeqqviocxIpajNV5SjK63taqOv1SYbVGFZwEFL0rUKZrvy68AUIRGEMZNrrGrz/2Hz2lt923eNiCPM7FAa5HdDR5uMXn8lnBrtD9pysR5PaJXgBt2DvoPKQVTscM/vVf0J9g3CMCfEGcrzfxVVeqwb4amyKwR4OJJnDVic50WBddogWjehj/9wGbN6H9wHtej8Zn3r+ba5u9JUs5udy8Qh58iN1EZe7EvlAnAfZiPr6tKMa1Hyg+KVUjx2OoWTA=="/>
  </connectionStrings>
</configuration>